<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>I miei dati</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-text color="primary" *ngIf= "drivers.name != null; else nullName" >
          <h3>{{drivers.name}}</h3>
      </ion-text>
        
      <!--<ion-input *ngIf= "drivers.name != null; else nullName" type="text" placeholder="" [(ngModel)]="drivers.name"></ion-input> -->
      <ng-template #nullName>
        <ion-text>
          <h3></h3>
        </ion-text>
      </ng-template>
    </ion-item>


    <ion-item>
      <ion-label position="stacked">Cognome</ion-label>
      <ion-text color="primary" *ngIf= "drivers.surname != null; else nullSurname">
        <h3>{{drivers.surname}}</h3>
      </ion-text>
      <ng-template #nullSurname>
        <ion-text>
          <h3></h3>
        </ion-text>
      </ng-template>
    </ion-item>


    <ion-item>
      <ion-label position="stacked">Codice Fiscale</ion-label>
      <ion-text *ngIf= "drivers.cf_driver != null; else nullCfdriver" color="primary">
        <h3>{{drivers.cf_driver}}</h3>
      </ion-text>
      <ng-template #nullCfdriver>
        <ion-text>
          <h3></h3>
        </ion-text>
      </ng-template>
    </ion-item>


    <ion-item>

      <ion-label position="stacked">Telefono</ion-label>
      <ion-text color="primary">
        <h3>{{drivers.phone}}</h3>
      </ion-text>
      <!--<ng-template #nullPhone>
        <ion-text>
        <h3></h3>
      </ion-text>
      </ng-template> -->
    </ion-item>


    <ion-item>
      <ion-label position="stacked">email</ion-label>
      <ion-text color="primary">
        <h3>{{drivers.email}}</h3>
      </ion-text>

      <!--<ng-template #nullEmail>
        <ion-text>
          <h3></h3>
        </ion-text>
      </ng-template> -->
    </ion-item>
    <ion-button expand="block" (click)="updateDriver(drivers)">Aggiorna Dati</ion-button>
</ion-content>