<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>

        <ion-title>Dati del giorno</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
            <ion-list>
                <ion-item>
                    <ion-label>Seleziona Data</ion-label>
                    <ion-text>{{registers.date}}</ion-text>
                    <!--<ion-input readonly [(ngModel)]="mydate" (ionChange)="onChangeDate()"
                               [liIonic4Datepicker]="datePickerObj"></ion-input> -->
                </ion-item>

                <ion-item>
                    <ion-label>Km inizio giornata</ion-label>
                    <!--<ion-input type="text" placeholder="KM" [(ngModel)]="register.km_start" value={{register.km_start}}></ion-input> -->
                    <ion-text>{{registers.km_start}}</ion-text> 
                    <ion-text>{{vehicle_id}}</ion-text> 
                 
                   
                </ion-item>

                <ion-item>
                    <ion-label>Km fine giornata</ion-label>
                    <ion-text>{{registers.km_end}}</ion-text> 
                    <!--<ion-input type="text" placeholder="KM" [(ngModel)]="register.km_end"></ion-input> -->
                </ion-item>
                <ion-item>
                    <ion-label>Seleziona il mezzo</ion-label>
                    <!--<ion-text>{{vehicle.car_model + ' |' + vehicle.license_plate}}</ion-text> -->
                    <!--prendi la prima opzione del select-option per il veicolo-->
                    <!--<ion-select [(ngModel)]="vehicle_id_select" (ngModelChange)="getVehicleIdSelect()">
                        <ion-select-option *ngFor="let vehicle of vehicles;"
                                           [value]="vehicle['vehicle_id']">{{vehicle.car_model + ' |' + vehicle.license_plate}}</ion-select-option>
                    </ion-select> -->
                </ion-item>
                <ion-button expand="block" (click)="updateRegister(registers)">Aggiorna registro del giorno</ion-button>
            </ion-list>

</ion-content>
