  <ion-tabs>
      <ion-tab-bar slot="bottom">

        <ion-tab-button tab="agency">
          <ion-icon name="menu"></ion-icon>
          <ion-label>Agenzie</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="drivers">
          <ion-icon name="menu"></ion-icon>
          <ion-label>Conducenti</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="vehicles">
          <ion-icon name="menu"></ion-icon>
          <ion-label>Mezzi</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="clients">
          <ion-icon name="menu"></ion-icon>
          <ion-label>Clienti</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="destinations">
          <ion-icon name="menu"></ion-icon>
          <ion-label>Destinazioni</ion-label>
        </ion-tab-button>
      
      </ion-tab-bar>
  </ion-tabs>
