<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
</ion-buttons>
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="agency">
      <ion-icon src="../../assets/icon/agency.svg"></ion-icon>
      <ion-label>Agenzie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="drivers">
      <ion-icon src="../../assets/icon/employee.svg"></ion-icon>
      <ion-label>Conducenti</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vehicles">
      <ion-icon ios="ios-car" md="md-car"></ion-icon>
      <ion-label>Mezzi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clients">
      <ion-icon src="../../assets/icon/user.svg"></ion-icon>
      <ion-label>Clienti</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="destinations">
      <ion-icon src="../../assets/icon/location.svg"></ion-icon>
      <ion-label>Destinazioni</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>