<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>I Miei Clienti</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-segment [(ngModel)]='selectedView'>
        <ion-segment-button value='add_client' layout="icon-start">
            <ion-label>AGGIUNGI CLIENTE</ion-label>
        </ion-segment-button>
        <ion-segment-button value="list_client" layout="icon-start">
            <ion-label>LISTA CLIENTI</ion-label>
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="selectedView">
        <div *ngSwitchCase="'add_client'">
            <ion-item>
                <ion-label position="stacked">Nome</ion-label>
                <ion-input type="text" placeholder="" [(ngModel)]="client.name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Cognome</ion-label>
                <ion-input type="text" placeholder="" [(ngModel)]="client.surname"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Città</ion-label>
                <ion-input type="text" placeholder="" [(ngModel)]="client.city"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Provincia</ion-label>
                <ion-input type="text" placeholder="" [(ngModel)]="client.province"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Codice Fiscale</ion-label>
                <ion-input type="text" placeholder="" [(ngModel)]="client.cf"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Partita Iva</ion-label>
                <ion-input type="text" placeholder="" [(ngModel)]="client.vat"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Note di fatturazione</ion-label>
                <ion-input type="text" placeholder="" maxlength="50" [(ngModel)]="client.billing_notes"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Privato?</ion-label>
                <ion-checkbox color="primary" checked slot="start" (ionChange)="checkPrivate()"></ion-checkbox>
            </ion-item>


            <ion-button expand="block" (click)="addClient()">Aggiungi Cliente</ion-button>
        </div>
        <div *ngSwitchCase="'list_client'">
            <ion-grid>
                <ion-row *ngFor="let client of clients;" align-items-start style="margin-top:20px; height:30px">
                    <ion-col col-4>
                        <ion-label>{{client.name}}</ion-label>
                    </ion-col>
                    <ion-col col-4>
                        <ion-label>{{client.surname}}</ion-label>
                    </ion-col>
                    <ion-col col-4>
                        <ion-label>{{client.city}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>

