<ion-header color="primary">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/myjourney"></ion-back-button>
        </ion-buttons>
        <ion-title>Aggiungi Viaggio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label>Orario di Partenza</ion-label>
            <ion-datetime display-format="HH:mm" picker-format="HH:mm" value={{time}}></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Data Partenza</ion-label>
            <ion-input readonly [(ngModel)]="mydate" (ionChange)="onChangeDate()"
                       [liIonic4Datepicker]="datePickerObj"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Scegli tra i preferiti</ion-label>
            <ion-selectable [(ngModel)]="select_dep" [items]=""
        </ion-item>
        
        <ion-item>
            <ion-label>Luogo di Partenza</ion-label>
            <ion-input id="autocomplete_input_dep" autocomplete="off" (keyup)="getAddressDep()" (ionBlur)="blur_arrival()"></ion-input>
        </ion-item>

       
        
        <ion-item class="arrival">
            <ion-label>Luogo di Arrivo</ion-label>
            <ion-input id="autocomplete_input_arr" autocomplete="off" (keyup)="getAddressArr()" (ionBlur)="blur_npass()">
            </ion-input>
        </ion-item>

        <ion-item class="pass">
            <ion-label>N° Passeggeri</ion-label>
            <ion-input slot="end" type="number" placeholder="" [(ngModel)]="travel.n_pass" (ionBlur)="blur_check();"></ion-input>
        </ion-item>
        <ion-item class="check">
        <ion-label>Pagato?</ion-label>
        <div float-left class="my-checkbox">
            <ion-label>SI</ion-label>
            <ion-checkbox color="primary" checked (ionChange)="checkPaid()"></ion-checkbox>
          </div>
          <div float-right class="my-checkbox">
            <ion-label>NO</ion-label>
            <ion-checkbox color="primary" checked (ionChange)="checkPaid()" (ionBlur)="blur_client();"></ion-checkbox>
          </div>
        </ion-item>
        
        <ion-item class="client">
            <ion-label>Cliente</ion-label>
            <ionic-selectable item-content [(ngModel)]="client" itemValueField="client_id" itemTextField="surname_client" 
                [items]="clients" [canSearch]="true" [canAddItem]="true" (onChange)="getClientIdSelected()"
                (onAddItem)="onAddPort()">
            </ionic-selectable>
            
            
           
        </ion-item>
           <!-- <ion-label>Clienti</ion-label>
            <ion-select [(ngModel)]="client_id_select" (ngModelChange)="getClientIdSelected()" (ionBlur)="blur_npass();">
                <ion-select-option *ngFor="let client of clients;"
                                   [value]="client['client_id']">{{client.name_client + ' ' + client.surname_client}}</ion-select-option>
            </ion-select>
        </ion-item>

    
  
        <!--<ion-button expand="block" (click)="gotoAddClient();">Aggiungi un nuovo cliente</ion-button> -->
        <ion-button expand="block" (click)="addTravel();" color="success">Conferma Viaggio</ion-button>
        <!--<ion-button expand="block" (click)="distanceMatrix();">Calcola KM</ion-button> -->
    </ion-list>




</ion-content>
