.arrival{
  visibility: hidden;
}

.client{
  visibility: hidden;
}
.pass{
  visibility: hidden;
}
.check{
  visibility: hidden;
}
.my-checkbox{
  display: block;
  //align-items: center;
  padding-right: auto;
  padding-left: auto;
}
