ion-content {
  #map {
    width: 100%;
    height: 300px;
  }
 
}
.city{
  visibility: hidden;
}

.client{
  visibility: hidden;
}
.pass{
  visibility: hidden;
}
.check{
  visibility: hidden;
}
.my-checkbox{
  display: flex;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
}
