<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Azienda</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
  <ion-segment [(ngModel)]='selectedView'>
    <ion-segment-button value='add_agency' layout="icon-start">
      <ion-label>AGGIUNGI AZIENDA</ion-label>
    </ion-segment-button>
    <ion-segment-button value="list_agency" layout="icon-start">
      <ion-label>LISTA AZIENDA</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="selectedView">
    <div *ngSwitchCase="'add_agency'">
      <ion-item>
        <ion-label position="stacked">Ragione Sociale</ion-label>
        <ion-input type="text" placeholder="" [(ngModel)]="agency.name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Partita iva</ion-label>
        <ion-input  type="text" placeholder="" [(ngModel)]="agency.vat" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Codice Fiscale</ion-label>
        <ion-input  type="text" placeholder="" [(ngModel)]="agency.cf" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Indirizzo</ion-label>
        <ion-input  type="text" placeholder="" [(ngModel)]="agency.address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Città</ion-label>
        <ion-input  type="text" placeholder="" [(ngModel)]="agency.city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">CAP</ion-label>
        <ion-input  type="text" placeholder="" [(ngModel)]="agency.cap"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Provincia</ion-label>
        <ion-input  type="text" placeholder="" [(ngModel)]="agency.province"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Telefono</ion-label>
        <ion-input  type="text" placeholder="" [(ngModel)]="agency.phone"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="addAgency()">Aggiungi Azienda</ion-button>
    </div>
    <div *ngSwitchCase="'list_agency'">
      <ion-grid>
        <ion-row *ngIf= "agencies?.length > 0" align-items-start>
          <ion-col col-6 class="ion-col-nome"> 
            <ion-label class="ion-label-nome">Ragione Sociale</ion-label>
          </ion-col>
          <ion-col col-6 class="ion-col-city">
            <ion-label class="ion-label-city">Città</ion-label>
          </ion-col>
          <ion-col col-6 class="ion-col-city">
            <ion-label class="ion-label-address">Indirizzo</ion-label>
          </ion-col>
          <ion-col col-6 class="ion-col-detail">
            <ion-label class="ion-label-detail">Dettaglio</ion-label>
          </ion-col>
          
        </ion-row>

        <ion-row *ngFor = "let agency of agencies; let i= index" align-items-start style="margin-top:20px; height:30px">
          <ion-col col-4>
            <ion-label>{{agency.name}}</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label>{{agency.city}}</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label>{{agency.address}}</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-icon name="eye" (click)="detailAgency(agency)"></ion-icon>
          </ion-col> 
        </ion-row>
      </ion-grid>
    
    </div>
  </div>
</ion-content>
