<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Azienda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="stacked">Ragione Sociale</ion-label>
    <ion-input type="text" placeholder="" [(ngModel)]="agency.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Partita iva</ion-label>
    <ion-input  type="text" placeholder="" [(ngModel)]="agency.vat"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Codice Fiscale</ion-label>
    <ion-input  type="text" placeholder="" [(ngModel)]="agency.cf"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Indirizzo</ion-label>
    <ion-input  type="text" placeholder="" [(ngModel)]="agency.address"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Città</ion-label>
    <ion-input  type="text" placeholder="" [(ngModel)]="agency.city"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">CAP</ion-label>
    <ion-input  type="text" placeholder="" [(ngModel)]="agency.cap"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Provincia</ion-label>
    <ion-input  type="text" placeholder="" [(ngModel)]="agency.province"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Telefono</ion-label>
    <ion-input  type="text" placeholder="" [(ngModel)]="agency.phone"></ion-input>
  </ion-item>
<ion-button expand="block" (click)="addAgency()">Aggiungi Azienda</ion-button>


<!--<ion-list>
  <ion-item button *ngFor="let a of agencies">
    <ion-label>
      <h2>{{ a.name }}</h2>
      <p>{{ a.cf }}</p>
    </ion-label>
  </ion-item>
</ion-list> -->
</ion-content>
