.ion-col-nome{
height: 50px !important;
background-color: #3880ff;
}

.ion-col-address{
    height: 50px !important;
    background-color: #3880ff;
}

.ion-col-city{
    height: 50px !important;
    background-color: #3880ff;
}

.ion-col-detail{
    height: 50px !important;
    background-color: #3880ff;
}
.ion-label-nome{
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.ion-label-city{
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.ion-label-address{
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.ion-label-detail{
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.ion-padding{
    margin-top:30px;
}

.ion-icon{
    font-size:30px;
}