<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Mezzi</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-segment [(ngModel)]='selectedView'>
        <ion-segment-button value='add_vehicle' layout="icon-start">
            <ion-label>AGGIUNGI MEZZO</ion-label>
        </ion-segment-button>
        <ion-segment-button value="list_vehicle" layout="icon-start">
            <ion-label>LISTA MEZZI</ion-label>
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="selectedView">
        <div *ngSwitchCase="'add_vehicle'">
            <ion-item>
                <ion-label position="stacked">Casa Automobilistica</ion-label>
                <ion-input type="text" placeholder="" [(ngModel)]="vehicle.car_brand" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Modello Auto</ion-label>
                <ion-input type="text" placeholder="" [(ngModel)]="vehicle.car_model" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Targa</ion-label>
                <ion-input type="text" placeholder="" [(ngModel)]="vehicle.license_plate" required></ion-input>
            </ion-item>
            <ion-button expand="block" (click)="addVehicle()">Aggiungi Mezzo</ion-button>
        </div>
        <div *ngSwitchCase="'list_vehicle'">

            <ion-card *ngFor="let vehicle of vehicles;">   
                <ion-card-header>
                    <ion-item lines="none">
                        <ion-card-title>Casa Automobilistica : {{vehicle.car_brand}}</ion-card-title>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-card-title>Modello Auto: {{vehicle.car_model}}</ion-card-title>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-card-title>Targa: {{vehicle.license_plate}}</ion-card-title>
                    </ion-item>
                </ion-card-header>

                <ion-button expand="block" (click)="cancelVehicle(vehicle.vehicle_id)">Cancella Mezzo</ion-button>
              </ion-card>
        </div>
    </div>
</ion-content>

