<ion-header>
  <ion-toolbar>
    <ion-title>updatedatadays</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    

      <ion-item>
          <ion-label>Km inizio giornata</ion-label>
          <ion-text *ngIf="registers.km_start != null; else nullName" type="text" placeholder=""
           [(ngModel)]="register.km_start"></ion-text>
          <ng-template #nullName>
            <ion-input type="text" placeholder="" [(ngModel)]="register.km_start"></ion-input>
          </ng-template>
  
      </ion-item>

      <ion-item>
        <ion-label>Km fine giornata</ion-label>  
        <ion-input type="text" placeholder="KM" [(ngModel)]="register.km_end"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label>Seleziona il mezzo</ion-label>
          <ion-select [(ngModel)]="vehicle_id_select" (ngModelChange)="getVehicleIdSelect()">
              <ion-select-option *ngFor="let vehicle of vehicles;"
                                 [value]="vehicle['vehicle_id']">{{vehicle.car_model + ' |' + vehicle.license_plate}}</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-button expand="block" (click)="addRegister()">Salva registro del giorno</ion-button>
  </ion-list>

</ion-content>
