<ion-content center>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" placeholder="Email" [(ngModel)]="driver.email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" placeholder="Password" [(ngModel)]="driver.password"></ion-input>
    </ion-item>
  
    <ion-button expand="full" color="primary" (click)="signIn()">LOGIN</ion-button>
    <p text-center>Non sei registrato?</p>
    <ion-button expand="full" color="danger" (click)="signUp()">REGISTRATI</ion-button>
</ion-content>


