<ion-header>
  <ion-toolbar>
    <ion-title>updateagency</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nome azienda</ion-label>
    <ion-input *ngIf="agency.name_agency != null; else nullName" type="text" placeholder=""
      [(ngModel)]="agency.name_agency"></ion-input>
    <ng-template #nullName>
      <ion-input type="text" placeholder="" [(ngModel)]="agency.name_agency"></ion-input>
    </ng-template>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">VAT</ion-label>
    <ion-input *ngIf="agency.vat_agency != null; else nullVat" type="text" placeholder=""
      [(ngModel)]="agency.vat_agency"></ion-input>
    <ng-template #nullVat>
      <ion-input type="text" placeholder="" [(ngModel)]="agency.vat_agency"></ion-input>
    </ng-template>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Indirizzo</ion-label>
    <ion-input *ngIf="agency.address_agency != null; else nullAddress" type="text" placeholder=""
      [(ngModel)]="agency.address_agency"></ion-input>
    <ng-template #nullAddress>
      <ion-input type="text" placeholder="" [(ngModel)]="agency.address_agency"></ion-input>
    </ng-template>
  </ion-item>


  <ion-item>
    <ion-label position="stacked">Città</ion-label>
    <ion-input *ngIf="agency.city_agency != null; else nullCity" type="text" placeholder=""
      [(ngModel)]="agency.city_agency"></ion-input>
    <ng-template #nullCity>
      <ion-input type="text" placeholder="" [(ngModel)]="agency.city_agency"></ion-input>
    </ng-template>
  </ion-item>


  <ion-item>
    <ion-label position="stacked">CAP</ion-label>
    <ion-input *ngIf="agency.cap_agency != null; else nullCap" type="text" placeholder=""
      [(ngModel)]="agency.cap_agency"></ion-input>
    <ng-template #nullCap>
      <ion-input type="text" placeholder="" [(ngModel)]="agency.cap_agency"></ion-input>
    </ng-template>
  </ion-item>



  <ion-item>
    <ion-label position="stacked">Provincia</ion-label>
    <ion-input *ngIf="agency.province_agency != null; else nullProvince" type="text" placeholder=""
      [(ngModel)]="agency.province_agency"></ion-input>
    <ng-template #nullProvince>
      <ion-input type="text" placeholder="" [(ngModel)]="agency.province_agency"></ion-input>
    </ng-template>
  </ion-item>


  <ion-item>
    <ion-label position="stacked">Proprietario azienda</ion-label>
    <ion-input *ngIf="agency.owner_agency != null; else nullOwner" type="text" placeholder=""
      [(ngModel)]="agency.owner_agency"></ion-input>
    <ng-template #nullOwner>
      <ion-input type="text" placeholder="" [(ngModel)]="agency.owner_agency"></ion-input>
    </ng-template>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Telefono</ion-label>
    <ion-input *ngIf="agency.phone_agency != null; else nullPhone" type="text" placeholder=""
      [(ngModel)]="agency.phone_agency"></ion-input>
    <ng-template #nullPhone>
      <ion-input type="text" placeholder="" [(ngModel)]="agency.phone_agency"></ion-input>
    </ng-template>
  </ion-item>

  <ion-button expand="block" (click)="update()">Salva</ion-button>
</ion-content>