<ion-header color="primary">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>I miei viaggi</ion-title>
        <ion-button (click)="addJourney()" shape="round" fill="outline" slot="end">
            <ion-icon slot="start" name="add"></ion-icon>
            Aggiungi
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label>Orario di Partenza</ion-label>
            <ion-datetime display-format="hh:mm A" picker-format="hh:mm A " value={{time}}></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label *ngIf="input_value=='' || input_value==null">Luogo di Partenza</ion-label>
            <ion-input id="autocomplete_input_dep"
                       autocomplete="on" (keyup)="getAddressDep()">
            </ion-input>
            <ion-button (click)="getCurrentPosition()">
                <ion-icon src="../../assets/icon/position.svg"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item>
            <ion-label *ngIf="input_value1=='' || input_value1==null">Luogo di Arrivo</ion-label>
            <ion-input id="autocomplete_input_arr"
                       autocomplete="on" (keyup)="getAddressArr()">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Clienti</ion-label>
            <ion-select [(ngModel)]="selected_value" (ngModelChange)="getClientIdSelected($event)">
                <ion-select-option *ngFor="let client of clients;"
                                   [value]="client['client_id']">{{client.name + ' ' + client.surname}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Distanza</ion-label>
            <div id="distanza"></div>
        </ion-item>
        <ion-item>
            <ion-label>Durata</ion-label>
            <div id="durata"></div>
        </ion-item>
        <ion-item>
            <ion-label>N° Passeggeri</ion-label>
            <ion-input slot="end" type="number" placeholder=""></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="gotoAddClient();">Aggiungi un nuovo cliente</ion-button>
        <ion-button expand="block" (click)="distanceMatrix();">Calcola KM</ion-button>
    </ion-list>

    <div #map id="map"></div>


    <!--</div>
    <div *ngSwitchCase="'list_journey'">
      <ion-item>
        <ion-label position="floating">Data viaggi</ion-label>
        <ion-input readonly [(ngModel)]="mydate" (ionChange)="onChangeDate()" [liIonic4Datepicker]="datePickerObj"></ion-input>
      </ion-item>
    </div> 
  </div> -->


</ion-content>
