<ion-header color="primary">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>I miei viaggi</ion-title>
        <ion-button (click)="addJourney()" shape="round" fill="outline" slot="end">
            <ion-icon slot="start" name="add"></ion-icon>
            Aggiungi
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item lines="none">
        <ion-label>Data viaggi</ion-label>
        <ion-input readonly [(ngModel)]="mydate" (ionChange)="onChangeDate()" [liIonic4Datepicker]="datePickerObj"></ion-input>
    </ion-item>
    <ion-item lines="none">
        <ion-label>Pagato?</ion-label>
        <ion-checkbox color="primary" checked slot="start" (ionChange)="checkPaid()"></ion-checkbox>
    </ion-item>
    <ion-item>
    <ion-grid>
        <ion-row>
          <ion-col col-1>
            Orario
          </ion-col>
  
          <ion-col col-3>
            <div>Cliente</div>
          </ion-col>
          
        </ion-row>
      </ion-grid>
    </ion-item>


    <ion-list>
        <ion-item *ngFor="let travel of travels" (click)="updateTravel(travel.travel_id)">
          <ion-grid>
            <ion-row>
              <ion-col col-1>
                {{travel.hour}}
              </ion-col>
      
              <ion-col col-3>
                <div>{{travel.name_client + ' ' + travel.surname_client }}</div>
              </ion-col>
              
            </ion-row>
          </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>
