<div class="modalContainer">
  <ion-toolbar>
    <ion-title>Aggiungi partenza</ion-title>
    <ion-button slot="end" (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>INDIRIZZO</ion-label>
    <ion-text>{{test}}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Nome Partenza</ion-label>
    <ion-input type="text" placeholder="Es. Hotel Columbus"></ion-input>
  </ion-item>

</ion-content>

</div>
