<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>

      <ion-title>Service del giorno</ion-title>
  </ion-toolbar>
</ion-header>

 
<ion-content padding>
  <ion-item lines="none">
    <ion-label>Data viaggi</ion-label>
    <ion-input readonly [(ngModel)]="mydate" (ionChange)="onChangeDate()" [liIonic4Datepicker]="datePickerObj"></ion-input>
  </ion-item>
  <!--<ion-item>
    <ion-label>Veicolo:</ion-label>
    <ion-select [(ngModel)]="vehicle_id_select" (ionChange)="getVehicleIdSelected()" [selectedText]="selectVehicle"
    interface="popover">
        <ion-select-option *ngFor="let vehicle of vehicles;" [value]="vehicle['vehicle_id']" [selected]="selectVehicle">{{vehicle.car_model}} </ion-select-option>
    </ion-select> 
</ion-item> -->
  <ion-card *ngFor="let travel of travels;">   
    <ion-card-header>
        <ion-item lines="none">
            <ion-icon src="../../assets/icon/hour.svg"></ion-icon>
            <ion-card-title>Orario Partenza : {{travel.hour}}</ion-card-title>
        </ion-item>
        <ion-item lines="none">
            <ion-icon src="../../assets/icon/location.svg"></ion-icon>
            <ion-card-title>Destinazione: {{travel.city_arrival}}</ion-card-title>
        </ion-item>
        <ion-item lines="none">
            <ion-icon src="../../assets/icon/location.svg"></ion-icon>
            <ion-card-title>Partenza: {{travel.city_departure}}</ion-card-title>
        </ion-item>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
    <!--<ion-button expand="full" (click)="createPdf(travel)">Create PDF</ion-button> -->
    <ion-button expand="full" (click)="downloadPdf(travel)" color="primary">Download PDF</ion-button>
  
    </ion-card>
    <ion-button expand="full" (click)="downloadPdfAll();" color="primary">Download PDF ALL</ion-button>
 
  <!--<ion-item>
    <ion-label stacked>From</ion-label>
    <ion-input [(ngModel)]="letterObj.from"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>To</ion-label>
    <ion-input [(ngModel)]="letterObj.to"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Text</ion-label>
    <ion-textarea [(ngModel)]="letterObj.text" rows="10"></ion-textarea>
  </ion-item> -->
 
  
  <script src='build/pdfmake.min.js'></script>
  <script src='build/vfs_fonts.js'></script>
</ion-content>