<ion-header>
  <ion-toolbar>
    <ion-title>Dettaglio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Label Nome Azienda -->
  <ion-item>
    <ion-label position="stacked">Ragione Sociale</ion-label>
    <ion-input *ngIf= "agencies.name != null; else nullName" type="text" placeholder="" [(ngModel)]="agencies.name"></ion-input>
    <ng-template #nullName>
      <ion-input type="text" placeholder="" [(ngModel)]="agencies.name"></ion-input>
    </ng-template>
  </ion-item>

  <!--Label Vat-->
  <ion-item>
    <ion-label position="stacked">Partita iva</ion-label>
    <ion-input *ngIf= "agencies.vat != null; else nullVat" type="text" placeholder="" [(ngModel)]="agencies.vat"></ion-input>
    <ng-template #nullVat>
      <ion-input type="text" placeholder="" [(ngModel)]="agencies.vat"></ion-input>
    </ng-template>
  </ion-item>

  <!--Label Codice Fiscale-->
  <ion-item>
    <ion-label position="stacked">Codice Fiscale</ion-label>
    <ion-input *ngIf= "agencies.cf != null; else nullCf" type="text" placeholder="" [(ngModel)]="agencies.cf" required></ion-input>
    <ng-template #nullCf>
      <ion-input type="text" placeholder="" [(ngModel)]="agencies.cf"></ion-input>
    </ng-template>
  </ion-item>

  <!--Label Indirizzo-->
  <ion-item>
    <ion-label position="stacked">Indirizzo</ion-label>
    <ion-input *ngIf= "agencies.address != null; else nullAddress"  type="text" placeholder="" [(ngModel)]="agencies.address"></ion-input>
    <ng-template #nullAddress>
      <ion-input type="text" placeholder="" [(ngModel)]="agencies.address"></ion-input>
    </ng-template>
  </ion-item>
  
  <!--Label Città-->
  <ion-item>
    <ion-label position="stacked">Città</ion-label>
    <ion-input *ngIf= "agencies.city != null; else nullCity"  type="text" placeholder="" [(ngModel)]="agencies.city"></ion-input>
    <ng-template #nullCity>
      <ion-input type="text" placeholder="" [(ngModel)]="agencies.city"></ion-input>
    </ng-template>
  </ion-item>

  <!--Label Cap-->
  <ion-item>
    <ion-label position="stacked">CAP</ion-label>
    <ion-input *ngIf= "agencies.cap != null; else nullCap"  type="text" placeholder="" [(ngModel)]="agencies.cap"></ion-input>
    <ng-template #nullCap>
      <ion-input type="text" placeholder="" [(ngModel)]="agencies.cap"></ion-input>
    </ng-template>
  </ion-item>

  <!--Label Provincia-->
  <ion-item>
    <ion-label position="stacked">Provincia</ion-label>
    <ion-input *ngIf= "agencies.province != null; else nullProvince"  type="text" placeholder="" [(ngModel)]="agencies.province"></ion-input>
    <ng-template #nullProvince>
      <ion-input type="text" placeholder="" [(ngModel)]="agencies.province"></ion-input>
    </ng-template>
  </ion-item>
  <!--Label telefono-->
  <ion-item>
    <ion-label position="stacked">Telefono</ion-label>
    <ion-input *ngIf= "agencies.phone != null; else nullPhone"  type="text" placeholder="" [(ngModel)]="agencies.phone"></ion-input>
    <ng-template #nullPhone>
      <ion-input type="text" placeholder="" [(ngModel)]="agencies.phone"></ion-input>
    </ng-template>
  </ion-item>

  <ion-button expand="block" (click)="presentAlert(agencies)">Elimina Azienda</ion-button>
  <ion-button expand="block" (click)="updateAgency(agencies)">Salva</ion-button>

</ion-content>
